<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WElcome</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="container">
        <h2>Chào mừng bạn đên với HISPLAY</h2>
        <div class='m-auto w-80 h-100% border-solid border-2 border-black'>
            <h3 class="font-bold text-center text-2xl">Thông tin cá nhân</h3>
            <div >
                <a href="/logout" class="borer-solid border-2 border-black a-2 rounded bg-black text-white" >Logout</a>
                <a href="/products" class="borer-solid border-2 border-black a-2 rounded bg-black text-white" >Quản lí sản phẩm</a>
            </div>
        </div>
    </div>
</body>
</html>