<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div >
        <form action="/" method="post" class="border-solid border-2 border-black m-auto w-80 h-100% mt-20">
            <h1 class="text-center text-3xl text-black font-bold m-6">Đăng nhập</h1>
            <div class="ml-16 m-4">
                <label class="font-bold" for="">Username:</label><br>
                <input class="border-solid border-2 border-black p-2 mt-2 rounded"  type="text" name="username" placeholder="user" value="" >
            </div>
            <div class="ml-16 m-4">
                <label for="" class="font-bold">Password</label><br>
                <input class="border-solid border-2 border-black p-2 mt-2 rounded" type="password" name="password" placeholder="pass" value="" >
            </div>
            <button class="border-solid border-2 rounded border-black font-bold p-2 ml-24 mb-8 mt-5 hover:bg-blue-800 hover:text-white hover:border-blue-800" type="submit">Đăng nhập</button>
        </form>
    </div>
</body>
</html>