<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/products/edit/<%= productId %>" method="post">
        <label for="productName">Name:</label>
        <input type="text" id="productName" name="Name" value="<%= product.productName %>" required>

        <label for="productPrice">Price:</label>
        <input type="number" id="productPrice" name="Price" value="<%= product.productPrice %>" required>

        <label for="productQuantity">Quantity:</label>
        <input type="number" id="productQuantity" name="Quantity" value="<%= product.productQuantity %>" required>

        <input type="submit" value="Update Product">
    </form>
</body>
</html>
